# ===== XCODE =====
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcscmblueprint

# Xcode workspace
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (если используешь)
Pods/
*.xcworkspace

# Carthage (если вдруг будет)
Carthage/Build/

# ===== OS =====
.DS_Store
*.swp
*.lock

# ===== Swift build artifacts =====
*.dSYM.zip
*.dSYM

# ===== Playgrounds =====
timeline.xctimeline
playground.xcworkspace

# ===== Logs =====
*.log

# ===== SwiftPM (optional cleanup) =====
.swiftpm/